body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container {
  margin: auto;
  max-width: 80%;
}

.title{
  display: flex;
  justify-content: center;
}

.logo {
  padding: 12px 0 0 10px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 2px solid black;
  padding: 0 0 10px 0;
  margin: 5px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-top: 2px solid black
}

.outerdiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}
.div{
  display: flex;
  max-width: 48%;
  flex-direction: column;
  border: 1px solid black;
  border-style: outset;
  margin: 5px;
}